html, body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 1fr 50px;
    color: white;
}

h1 {
    font-size: 2em;
}

.header, .footer {
    grid-column: 1 / -1;
    background-color: #3b5998;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    background-color:#6a86c4;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.bookForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container {
    background-color: #f0f0f0;
    padding: 5px;
}

.card {
    background-color: #006699;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 2px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

}